{
    "devices": [
        {
            "deviceId": "bms01",
            "portAddress": "",
            "bluetoothAddress": "a4:c1:38:a0:fd:4d", //lower case letters
            "bluetoothService": "ff00",
            "bluetoothCharacteristicRead": "ff01",
            "bluetoothCharacteristicWrite": "ff02"
        },
        {
            "deviceId": "bms02",
            "portAddress": "",
            "bluetoothAddress": "a4:c1:38:a0:18:a9",
            "bluetoothService": "ff00",
            "bluetoothCharacteristicRead": "ff01",
            "bluetoothCharacteristicWrite": "ff02"
        }
    ],
    "monitor": {
        "refreshInterval": 300,
        "autoStart": false,
        "logToFile": true
    }
}